* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: monospace;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .arrayBar {
    min-width: 0.3em;
    border: 0.1em solid white;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .arrayBar {
    min-width: 0.3em;
    border: 0.2em solid white;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.rootContainer {
  display: grid;
  justify-content: center;
  min-height: 100vh;
}
.toolbar {
  max-height: 8em;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: scroll;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem 0.5rem;
  background-color: black;
  box-shadow: 0 0 black;
}
.toolbar::-webkit-scrollbar {
  width: 0;
}

button,
label,
input {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  margin: 0.3rem 1rem;
  width: fit-content;
  height: fit-content;
}
button:hover {
  color: #999999;
}
.bodyContainer {
  text-align: center;
}
button:focus {
  outline: none;
  color: #9bf02c;
}
label {
  padding-top: 1em;
}
.arrayBar {
  display: inline-block;
  min-width: 0.4rem;
  border: 0.2em solid white;
  background-color: rgba(169, 92, 232, 0.8);
  color: transparent;
  font-size: 0.4rem;
}
#generateArray:focus {
  color: white;
  outline: none;
}
#generateArray:hover {
  color: #999999;
}
#sortButton {
  visibility: hidden;
}
#sortButton.running {
  visibility: visible;
}

/* content css */

.content {
  width: 3rem;
  height: 15rem;
  position: fixed;
  margin-top: 15rem;
  background-color: black;
}

.hidden-content {
  width: 20rem;
  /* width: fit-content; */
  height: 15rem;
  text-align: left;
  position: fixed;
  margin-top: 15rem;
  background-color: black;
  margin-left: -17rem;
  letter-spacing: 1px;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

p,
h3 {
  font-family: monospace;
  font-weight: 400;
  margin: 0.5em;
  padding: 0.4em 1em;
  color: #9bf02c;
}
p {
  font-size: 1.1em;
}
h3 {
  font-size: 1.5em;
}
.open {
  transform: translateX(100%);
}

/* content css over */

#generateArray.disabled,
#sortButton.disabled {
  color: red;
  pointer-events: none;
}
#changeSize.disabled {
  pointer-events: none;
}
label.disabled {
  color: red;
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497e3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}
